html {
  // font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.is-active {
  font-weight: bold;
}

*, *:before, *:after {
  box-sizing: border-box;
}